<template>
	<section class="card-outer">
		<div
			:class="!card.product.available ? 'card card--disabled' : selected ? 'card card--selected' : 'card'"
			@click="select"
			@mouseenter="selected ? hover = true : hover = false"
			@mouseleave="!selected ? hover = true : hover = false"
		>
			<div class="card-text">
				<h2
					:class="selected && hover ? 'card-title--color' : 'card-title--default'"
				>{{ selected && hover ? 'Котэ не одобряет?' : card.title }}</h2>
				<h3>{{ card.product.title }}</h3>
				<h4>{{ card.product.subtitle }}</h4>
				<ul>
					<li v-for="(el,idx) in card.product.descriptionList" :key="idx">{{el}}</li>
				</ul>
			</div>
			<img
				src="../assets/images/cat.png"
				srcset="../assets/images/cat.webp image/webp"
				alt="Котейка с цепочкой, на которой логотип FunBox"
			>
			<div class="card-weight">
				<span>{{ card.product.weight }}</span>
				<span>кг</span>
			</div>
		</div>
		<div class="card-outer-text">
			<span v-if="card.product.available === true && selected === false">
				Чего сидишь? Порадуй котэ,
				<button @click="select">купи.</button>
			</span>
			<span v-if="card.product.available === true && selected === true">{{ card.description }}</span>
			<span
				v-if="card.product.available === false"
				style="color: #ffff66;"
			>Печалька, с курой закончился.</span>
		</div>
	</section>
</template>

<script>
export default {
	name: "card",
	props: {
		card: {
			type: Object,
			required: true
		}
	},
	data() {
		return {
			selected: false,
			productAvailability: this.card.product.available,
			hover: false
		};
	},
	methods: {
		select() {
			this.selected =
				this.selected === false && this.productAvailability === true
					? true
					: false;
		}
	}
};
</script>

<style lang="scss">
.card-outer {
	padding: 1rem;
	flex: 1 calc(310px + 2rem);
	&-text {
		text-shadow: 0 1px 0 #000000;
		color: #fff;
		font-size: 0.75rem;
		line-height: 1rem;
		padding-top: 1.25rem;
		text-align: center;
	}
	&-text button {
		border: none;
		background-color: transparent;
		cursor: pointer;
		color: #1698d9;
		font-weight: 700;
		text-decoration: none;
		border-bottom: 1px dashed #1698d9;
		font-size: 0.75rem;
	}
	@media screen and (max-width: 1110px) {
		&:last-child {
			grid-column: span 2;
		}
	}
	@media screen and (max-width: 600px) {
		& {
			padding-left: 0;
			padding-right: 0;
		}
		&:last-child {
			grid-column: initial;
		}
	}
}
.card {
	width: 310px;
	margin: auto;
	height: 470px;
	background: linear-gradient(135deg, transparent 40px, #f2f2f2 0);
	position: relative;
	border-radius: 15px;
	@media screen and (max-width: 600px) {
		width: 100%;
		max-width: 310px;
	}
	&:before {
		content: "";
		top: -4px;
		bottom: -4px;
		left: -4px;
		right: -4px;
		position: absolute;
		z-index: -1;
		border-radius: 15px;
		background: linear-gradient(135deg, transparent 41px, #1698d9 0);
	}
	&:not(.card--disabled) {
		cursor: pointer;
		&:hover {
			&:before {
				background: linear-gradient(
					135deg,
					transparent 41px,
					#2ea8e6 0
				);
			}
			& .card-weight {
				background-color: #2ea8e6;
			}
		}
	}
	&.card--selected {
		&:before {
			background: linear-gradient(135deg, transparent 41px, #d91667 0);
		}
		& .card-weight {
			background-color: #d91667;
		}
		& .card-title--color {
			color: #e62e7a;
			display: none;
		}
		&:hover {
			&:before {
				background: linear-gradient(
					135deg,
					transparent 41px,
					#e52e7a 0
				);
			}
			& .card-weight {
				background-color: #e52e7a;
			}
		}
		& .card-title--color {
			display: block;
		}
	}
	&--disabled {
		&:after {
			content: "";
			position: absolute;
			top: -4px;
			bottom: -4px;
			left: -4px;
			right: -4px;
			background: linear-gradient(135deg, transparent 41px, #f2f2f2 0);
			border-radius: 15px;
			opacity: 0.5;
		}
		&:before {
			background: linear-gradient(135deg, transparent 41px, #b3b3b3 0);
		}
		& .card-weight {
			background-color: #b3b3b3;
		}
	}
	&-text {
		padding-top: 1.25rem;
		padding-left: 3.15rem;
	}
	h2 {
		color: #666;
		font-size: 1rem;
		padding-bottom: 0.625rem;
	}
	h3 {
		font-size: 3rem;
		font-weight: 700;
	}
	h4 {
		font-size: 1.5rem;
	}
	ul {
		color: #666;
		padding-top: 1rem;
		font-size: 0.9rem;
	}
	img {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
	}
	&-weight {
		position: absolute;
		bottom: 11px;
		right: 11px;
		width: 5rem;
		height: 5rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-size: 2.625rem;
		color: #fff;
		background-color: #1698d9;
	}
	&-weight span:last-child {
		font-size: 1.3rem;
	}
}
</style>
