<template>
    <div id="app">
        <div class="wrapper">
            <h1>Ты сегодня покормил кота?</h1>
            <main>
                <Card v-for="(card,idx) in cards" :key="idx" :card="card"/>
            </main>
        </div>
    </div>
</template>

<script>
import Card from "@/components/Card";
import data from "./data";
export default {
    name: "app",
    components: {
        Card
    },
    data() {
        return {
            cards: data
        };
    }
};
</script>

<style lang="scss">
@font-face {
    font-family: "Exo-Thin";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/Exo2.0-Thin.otf") format("truetype"),
         url('./assets/fonts/Exo2.0-Thin.ttf')  format('truetype'),
         url('./assets/fonts/Exo2.0-Thin.woff')  format('woff');
    font-display: swap;
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
#app {
    background: linear-gradient(
            to top,
            rgba(0, 0, 0, .5) 0%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, .5) 100%
        ),
        url("./assets/images/bg.png") no-repeat 100%;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    @media screen and (max-width: 1110px) {
        height: initial;
    }
    .wrapper {
        max-width: 1440px;
        width: 100%;
        padding: 0 40px;
        @media screen and (max-width: 600px) {
            padding: 0 20px;
        }
    }
    h1 {
        margin: 0;
        color: #fff;
        text-align: center;
        font-family: "Exo-Thin";
        text-shadow: 0 1px 0 #000;
        font-size: 2.25rem;
        font-weight: 400;
        @media screen and(max-width: 1110px) {
            padding-top: 1.25rem;
        }
    }
    main {
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }
}

@media screen and (max-width: 1110px) {
    html {
        font-size: 15px;
    }
}
@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
}
</style>